body{
margin : 0px;
padding: 0px;

}



.navbar-container{

    display:flex;
    align-items: center;
/* justify-content: space-; */
background-color: rgb(5, 111, 111)
}
.logo{

    width: 100px;
}
.menus-container{

    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 20px;
/* color: blue; */
}
.banner-image{
    width:100%;

}

.banner-container{
    display: flex;
    width: 80%;
    margin: auto;
    height: 100vh;
    align-items: center;
    text-align: center;
}
.title{
font-size: 76px;
font-weight: bold;
color:#00CD9A;
text-align: center;
}
.description{

font-size: 22px;
}
button{

padding:15px 25px;
border: none;
color: black;
font-size: 18px;
}
.app-btn{
background-color: #00CD9A;
}
.doc-btn{

    background-color: rgb(5, 111, 111);
}
.service-card{

    width:300px;
    height: 350px ;
    box-shadow: 8px 8px 16px gray ;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}

.service-img{

    width: 150px;
}
.cards{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap:20px;
}
.contact-container{

    text-align: center;
}
.input-box{
padding: 15px 30px;
margin : 10px;

}

.text-area{
padding : 35px 50px;


}
.submit-btn{
padding: 10px 20px;
width: 35%;
margin-top: 20px;
background-color: #00CD9A;
color: black;
font-size: 22px;
border: none;
}
.footer-container{
display:flex ;

padding: 10px 20px;
gap: 30px;
background-color: rgb(5, 111, 111);
margin-top: 20px;
}


.footer-bottom {
    display: flex;
  align-items:center ;
  background-color: 056F6F;
}

.footer-line {
align-items: center;
margin: top 50%; ;
  
  
}

.copyright {
  
    background-color: rgb(5,111,111);
    font-size: 12px;
    color:rgb(0, 0, 0);
}


.footer-bottom{
    background-color: rgb(5,111,111);
   
}















































































































































































